<!DOCTYPE html>
<html>
    <head>
        <title>
            Bulala's Web World
        </title>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
<!--                 <link href="https://fonts.googleapis.com/css?family=Rakkas|Lalezar|Arimo|Yatra+One" rel="stylesheet"> -->
                    <!-- <link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple" rel="stylesheet"> -->
                   <!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/> -->
                    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
                        <link href="{{static_url('main/main.css')}}" rel="stylesheet">
                            <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js">
                            </script>
                            <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js">
                            </script>

                            </script>
    </head>
    <header class="top-header">
        <div class="main-header container-fluid">
            <div class="row">
                <div class="logo col-md-8 col-sm-6 col-xs-4">
                    <h1>
                        <a href="/">
                            <em>
                                Bulala
                            </em>
                        Design
                        </a>
                    </h1>
                </div>
<!--                 <div class="social-top col-md-4 col-sm-6">
                    <ul>
                        <li>
                            <a class="fa fa-facebook" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="fa fa-twitter" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="fa fa-linkedin" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="fa fa-google-plus" href="#">
                            </a>
                        </li>
                    </ul>
                </div> -->
                <div class="menu-wrapper col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li class="active">
                            <a href="/">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="/project">
                                PROJECTS
                            </a>
                        </li>
                        <li>
                            <a href="/resource">
                                RESOURCES
                            </a>
                        </li>
                        <li>
                            <a href="/note">
                                NOTES
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class=" content-wrapper container-fluid">
            <div class="row" style="font-size: 18px">                 
                    <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-folder-close"></i>
                            </div>
                            <div class="service-content">
                                <h3>Common Frameworks</h3>
                                 <div><a href="https://facebook.github.io/react/">React</a></div>
                                <div><a href="https://vuejs.org/">Vue.js</a></div>
                                <div><a href='https://angularjs.org/'>AngularJs</a></div>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item --> 
                    <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-comment"></i>
                            </div>
                            <div class="service-content">
                                <h3>Useful Website</h3>
                                <div><a href="https://github.com/">Github</a></div>
                           <div><a href='https://www.freecodecamp.com/'> FreeCodeCamp</a></div>
                                <div><a href="http://stackoverflow.com/">StackOverflow</a></div>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item --> 

                  <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-book"></i>
                            </div>
                            <div class="service-content">
                                <h3>Relevent Books</h3>
                                <div><a href="https://www.amazon.com/JavaScript-Patterns-Stoyan-Stefanov/dp/0596806752/ref=sr_1_17?s=books&ie=UTF8&qid=1475937586&sr=1-17&keywords=javascript">JavaScript Patterns </a></div>
                                <div><a href="https://www.amazon.com/Learn-JavaScript-VISUALLY-Ivelin-Demirov/dp/1495233006/ref=sr_1_22?s=books&ie=UTF8&qid=1475937586&sr=1-22&keywords=javascript">Learn JavaScript VISUALLY</a></div>
                               <div><a href='https://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691/ref=sr_1_16?s=books&ie=UTF8&qid=1475937586&sr=1-16&keywords=javascript'> Professional JavaScript for Web Developers</a></div>                           
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->

                      <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="service-content">
                                <h3>Interview</h3>
                                <div><a href="https://www.frontendhandbook.com/practice/interview-q.html">Front-End Handbook</a></div>
                                <div><a href="http://thatjsdude.com/interview/">Collections: For Front End Developer</a></div>
                                <div><a href='https://github.com/h5bp/Front-end-Developer-Interview-Questions'>From Github: Front end Developer Interview Questions</a></div>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item --> 
                
            </div>

        </div>


    </body>
</html>