<!DOCTYPE html>
<html>
    <head>
        <title>
            Bulala's Web World
        </title>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
<!--                 <link href="https://fonts.googleapis.com/css?family=Rakkas|Lalezar|Arimo|Yatra+One" rel="stylesheet"> -->
                    <!-- <link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple" rel="stylesheet"> -->
                   <!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/> -->
                    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
                        <link href="{{static_url('main/main.css')}}" rel="stylesheet">
                            <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js">
                            </script>
                            <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js">
                            </script>

                            </script>
    </head>
    <header class="top-header">
        <div class="main-header container-fluid">
            <div class="row">
                <div class="logo col-md-8 col-sm-6 col-xs-4">
                    <h1>
                        <a href="/">
                            <em>
                                Bulala
                            </em>
                            Design
                        </a>
                    </h1>
                </div>
<!--                 <div class="social-top col-md-4 col-sm-6">
                    <ul>
                        <li>
                            <a class="fa fa-facebook" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="fa fa-twitter" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="fa fa-linkedin" href="#">
                            </a>
                        </li>
                        <li>
                            <a class="fa fa-google-plus" href="#">
                            </a>
                        </li>
                    </ul>
                </div> -->
                <div class="menu-wrapper col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li class="active">
                            <a href="/">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="project.html">
                                PROJECTS
                            </a>
                        </li>
                        <li>
                            <a href="resource.html">
                                RESOURCES
                            </a>
                        </li>
                        <li>
                            <a href="note.html">
                                NOTES
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <body>
        <div class=" content-wrapper container-fluid">
            <div class="row">
                  <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-book"></i>
                            </div>
                            <div class="service-content">
                                <h4>Relevent Books</h4>
                                <p>Artcore is free HTML5 template by <b class="blue">template</b><b class="green">mo</b>. Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for photos used in this template. You can use this layout for your personal or commercial websites.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item -->
                    <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-comment"></i>
                            </div>
                            <div class="service-content">
                                <h4>Relevent Communities</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item --> 
                    <div class="col-md-6 service-item service-left">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-folder-close"></i>
                            </div>
                            <div class="service-content">
                                <h4>Common Frameworks</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item --> 
                      <div class="col-md-6 service-item service-right">
                        <div class="box-content">
                            <div class="service-icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="service-content">
                                <h4>Interview</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, odit, magnam, autem ipsum incidunt modi saepe id ullam consectetur unde minima quis.</p>
                            </div>
                        </div> <!-- /.box-content -->
                    </div> <!-- /.service-item --> 
                
            </div>
        </div>
    </body>
</html>