<!DOCTYPE html>
<html>
    <head>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
       <!--  to prevent your definded style overridden by bootstrap, put your css file before it!!! -->
            <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
            <link href="{{static_url('foodknow/foodknow.css')}}" rel="stylesheet">
            <title>
                welcome to FoodKnow!
            </title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container container-table">
            <div class="row ">
             <!--    <form  class="form-inline text-center"  role="form"> -->
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group">
                        <input class="form-control input-lg" name="food_name" id='food_name' type="text" placeholder="中文食物名..." >
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-success btn-lg" type="button" >
                                    FoodKnow!
                                </button>
                            </span>
                    </div>
                </div>

             </div>
              <!--   </form> -->
         </div>
     

        <div id='food_area' >

        </div>
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js">
        </script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js">
        </script>
        <script src="{{static_url('foodknow/display_food.js')}}">         
        </script>
    </body>
</html>
