/*@import url('http://getbootstrap.com/dist/css/bootstrap.css');*/
/* html, body, .container-table {
    height: 80%;
}*/
.container-table {
    display: table;
/*    border: 1px solid #f2f2f2;*/
    padding-bottom:0;
    padding-top: 199px;
}
/*.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}*/
body {
	background-image: url('http://localhost/static/main/food3副本_meitu_2.jpg');
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: 1300px 800px;
	/*background-position: center;*/
}
#food_area {
	margin-top: 20px;
	padding-top: 20px;
/*	border: 1px solid #f2f2f2;*/
}

table {
    border-collapse: collapse;
    width: 25%;
    margin: 0 auto;
}
th {
    background-color: #4CAF50;
}

th, td {
    padding: 8px;
    text-align: left;
    color: black;
    border-bottom: 1px solid #f2f2f2;
   
}
td { background-color: #f2f2f2;}
/*tr:nth-child(even){background-color: #f2f2f2;}*/
/*tr:hover {background-color: black;}*/
