/*@import url('http://getbootstrap.com/dist/css/bootstrap.css');*/
/* html, body, .container-table {
    height: 80%;
}*/
.container-table {
  /*  display: table;*/
/*    border: 1px solid #f2f2f2;*/
    padding-bottom:0;
    padding-top: 140px;
}
/*.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}*/
body {
	background-image: url('http://localhost/static/main/food1_meitu_6.jpg');
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: 1300px 800px;
	/*background-position: center;*/
}
#food_area {
	margin-top: 20px;
	padding-top: 20px;
/*	border: 1px solid #f2f2f2;*/
}

table {
    border-collapse: collapse;
    width: 28%;
    margin: 0 auto;
}
th {
    background-color: #4CAF50;
}

th{
    padding: 8px;
    text-align: left;
    color: black;
   
}

/*td{
    padding: 8px;
    text-align: right;
    color: black;
   
}*/
tr:nth-child(even){ background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #7ADE7A;}
/*tr:nth-child(even){background-color: #f2f2f2;}*/
/*tr:hover {background-color: black;}*/
