<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
<!--             <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
            <script src="{{static_url('localweather/angular-1.5.7.min.js')}}"></script>
            <script src="{{static_url('localweather/weather.js')}}">
            </script>
            <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
                <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css" rel="stylesheet prefetch"> -->
                        <link href="{{static_url('localweather/weather.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="text-center">
            Weather in your city    
        </h1>
        <div ng-app="weather" ng-controller="weatherCrl">
            <div class="container">
                <div calss="row">
                    <div class="col-md-4 col-md-offset-4">
                        <form name="myform" ng-submit="getData()" novalidate>
                            <div class="input-group ">
                                <input class="form-control" name="city" ng-model="city" ng-model-options="{ updateOn: 'blur' }" type="text" value="Beijing" required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-disabled="myform.city.$dirty && myform.city.$invalid" type="submit">
                        
                                            <span class="glyphicon glyphicon-search">
                                            </span>
                                            Search
                                        </button>
                                    </span>
                                
                            </div>
                            <p ng-show="myform.city.$dirty && myform.city.$invalid" style="color:red">
                                city name is required.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="text-center currentwether">
                <h2>
                    Current weather in
                    <span>
                        {{!city}}, {{!Data.country}}
                    </span>
                </h2>
            </div>
            <div class="imgTemp">
                <img src="{{!Data.iconsrc}}">
                    <p id="temp">
                        {{!Data.temp}} °C
                    </p>
                    <p id="weather">
                        {{!Data.weather}}
                    </p>
                
            </div>
            <h2 class="text-center forcastwether">
                Weather forcast
            </h2>
            <div class="centerdMenu">
                <ul>
                    <li class="li-class">
                        <p class="weekday1">
                            {{!Data1.weekday}}
                        </p>
                        <img src="{{!Data1.iconsrc}}" title="{{!Data1.weather}}">
                            <span class="temp1">
                                {{!Data1.tempmax}} °C
                            </span>
                            <p class="tempmin">
                                {{!Data1.tempmin}} °C
                            </p>
                        
                    </li>
                    <li class="li-class">
                        <p class="weekday1">
                            {{!Data2.weekday}}
                        </p>
                        <img src="{{!Data2.iconsrc}}" title="{{!Data2.weather}}">
                            <span class="temp1">
                                {{!Data2.tempmax}} °C
                            </span>
                            <p class="tempmin">
                                {{!Data2.tempmin}} °C
                            </p>
                        
                    </li>
                    <li class="li-class">
                        <p class="weekday1">
                            {{!Data3.weekday}}
                        </p>
                        <img src="{{!Data3.iconsrc}}" title="{{!Data3.weather}}">
                            <span class="temp1">
                                {{!Data3.tempmax}} °C
                            </span>
                            <p class="tempmin">
                                {{!Data3.tempmin}} °C
                            </p>
                       
                    </li>
                    <li class="li-class">
                        <p class="weekday1">
                            {{!Data4.weekday}}
                        </p>
                        <img src="{{!Data4.iconsrc}}" title="{{!Data4.weather}}">
                            <span class="temp1">
                                {{!Data4.tempmax}} °C
                            </span>
                            <p class="tempmin">
                                {{!Data4.tempmin}} °C
                            </p>

                    </li>
                    <li class="li-class">
                        <p class="weekday1">
                            {{!Data5.weekday}}
                        </p>
                        <img src="{{!Data5.iconsrc}}" title="{{!Data5.weather}}">
                            <span class="temp1">
                                {{!Data5.tempmax}} °C
                            </span>
                            <p class="tempmin">
                                {{!Data5.tempmin}} °C
                            </p>
                        
                    </li>
                </ul>
            </div>
            <p class="text-center">
                get at {{!Data.ctime}}
            </p>
        </div>
        <footer>
            © copyright 2016 by Bulala-Workshop. All rights Reserved.
        </footer>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js">
    </script>

    </body>
</html>
