<html>
 <head>
   <meta charset="utf-8" />
   <style>
	#footer{
		color:red;
		position:relative;
		left:500px;
		top:350px;
		
	}
	#display{padding-top:50px;}
	</style>
    </head>
<body>
<div id="display">
    <table border="1" align="center">
      <tr><th colspan="5" >Well Count：</th></tr>
      <tr style="color:blue">
          <th>Data Sub-Type</th>
          <th>Well Name</th>              
          <th>Country</th>
          <th>State(Equivalent)</th>
          <th>Country(Equivalent)</th>
      </tr>
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" target="_blank">Electric Log-Curve Data</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>
      <tr>
          <td><input type="checkbox"><a href="./frame1.html">Core Description-Image</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>
      <tr>
          <td><input type="checkbox"><a href="./frame1.html">Core gamma-spectral</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Core images-Color,multi-row</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Core images-Scrolling Core</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Core Analysis-Gas Shale Characterization(GRI)</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>   
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Geomechanics-Dynamic Mechnical Properties(Triaxial)</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>          
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html">Geomechanics-Static Mechanical Properties</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Miscellaneous-Fluid Sensitivity(CST Method)</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>  
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Miscellanous-Fluid Sensitivity (Roller Oven Method)</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >SEM-Image</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
       <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Sorbed Gas-Adsorption Isotherm</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>
       <tr>
          <td><input type="checkbox"><a href="./frame1.html">Sorbed Gas-Desorption/Gas Content</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Sorbed Gas-Wellsite Analysis</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Thin section-Image</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" >Total Organic Carbon and Pyrolysis</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
       <tr>
          <td><input type="checkbox"><a href="./frame1.html" >X-ray diffration-Bulk</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
       <tr>
          <td><input type="checkbox"><a href="./frame1.html" >X-ray diffration-Clay</a></td>
          <td>Demo Shale Well#1</td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr> 
    </table>
  </div>
 </body>
  <!-- 脚标 -->
  <footer id="footer">
  <p>©Copyright by PKU,All Rights Reserved.</p>
  <p>Contact information: <a href="mailto:liuying2013@pku.edu.cn">bulala@liuying2013@pku.edu.cn</a>.</p>
</footer>
</html>