<html>
 <head>
   <meta charset="utf-8" />
   <style>
	#footer{
		color:red;
		position:relative;
		left:500px;
		top:350px;
		
	}
	#display1{padding-top:50px;}
	</style>
    </head>
<body>
<div id="display1">
    <table border="1" align="center">
      <tr><th colspan="4" >Well Count：</th></tr>
      <tr style="color:blue"><td>Well Name</td>
          <td>Country</td>
          <td>State(Equivalent)</td>
          <td>Country(Equivalent)</td>
      </tr>
      <tr>
          <td><input type="checkbox"><a href="./frame1.html" target="_blank" >Demo Shale Well#1</a></td>
          <td>USA</td>
          <td>Texas</td>
          <td>Harris</td>
      </tr>   
    </table>
  </div>
 </body>
  <!-- 脚标 -->
  <footer id="footer">
  <p>©Copyright by PKU,All Rights Reserved.</p>
  <p>Contact information: <a href="mailto:liuying2013@pku.edu.cn">bulala@liuying2013@pku.edu.cn</a>.</p>
</footer>
</html>