
<html>
<head>
 <META http-equiv=Content-Type content="text/html; charset=utf-8">
 <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <title>中国页岩油藏数据库-0.1</title>
 <style>
 #footer{
		color:red;
		position:relative;
		left:500px;
		top:350px;
		
	}
  h1{padding-top:15px;font-size:40px;}</style> 
</head>
<body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
 <h1 align="center">中国页岩油藏数据库-0.1</h1>

<div style="padding-top:50px;padding-bottom:50px;padding-left:400px;padding-right:400px;font-size:20px;">
         中国页岩油藏数据库，是一种组织，归纳，检索和总结地质与岩石物理数据的基于网路应用的数据库。
      它可以给我们提供一种传递来自整个地区地质研究的大量数据的方法，以一种安全的形式提供集中，
      连续，可得的数据。
</div>
<div class="btn-group-vertical btn-group-lg">
  <button type="button" class="btn btn-default">数据库</button>
  <button type="button" class="btn btn-default">注    销</button>
</div>  

    <form id="login" action="./index.html" method="get" align="center">
		<input type="submit" value="Enter" />
	</form>
		  <!-- 脚标 -->
  <footer id="footer">
  <p>©Copyright by PKU,All Rights Reserved.</p>
  <p>Contact information: <a href="mailto:liuying2013@pku.edu.cn">bulala@liuying2013@pku.edu.cn</a>.</p>
</footer>
</body>
</html>