<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8" />
    <title >中国页岩油藏数据库-0.1</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{static_url('shalegasdemo/shale.css')}}" rel="stylesheet">
  </head>
   <body style="background-image: url({{static_url('shalegasdemo/left2.jpg')}})">
    
<div class="btn-group-vertical" align="center" style="padding-top:220px; font-size:18px; font-weight: bold;">
  <button type="button" class="btn btn-secondary"><a href="/shalegasdemo/wellmap.html" target="showframe">井位置图</a></button>
  <button type="button" class="btn btn-secondary"><a href="/shalegasdemo/wellinven.html"  target="showframe">井清单</a></button>
  <button type="button" class="btn btn-secondary"><a href="/shalegasdemo/datainventory.html"  target="showframe">数据清单</a></button>
  
  <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne">岩石类型目录</button>
    <div id="collapseOne" class=" collapse">
     <ul class="nav nav-pills-vertical">
      <li><a href="#sandstone"  data-toggle="tab" target="showframe" >砂岩目录</a></li>
	  <li> <a href="#carbonate"  data-toggle="tab" target="showframe">碳酸盐目录</a></li>
	  <li><a href="#shale"  data-toggle="tab" target="showframe">页岩目录</a></li>
	  <li><a href="#saved"  data-toggle="tab" target="showframe">保存的目录</a></li>
	  <li><a href="#archived"  data-toggle="tab" target="showframe">存档的目录</a></li>
     </ul>     
    </div>
    
  <button type="button" class="btn btn-secondary" ><a href="#reserviorpro" data-toggle="tab" target="showframe">储层特性</a></button>
  <button type="button" class="btn btn-secondary"><a href="#documentlist" data-toggle="tab" target="showframe">文档清单</a></button>
  
  <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapsetwo">数据操作</button>
    <div id="collapsetwo" class="collapse">
     <ul class="nav nav-pills-vertical">
      <li><a href="#queryData" target="showframe" data-toggle="tab">查询数据</a></li>
	  <li><a href="#insertData"target="showframe" data-toggle="tab">插入数据</a></li>
	  <li><a href="#modifyData" target="showframe" data-toggle="tab">修改数据</a></li>
	  <li><a href="#deleteData" target="showframe" data-toggle="tab" >删除数据</a></li>
     </ul>     
    </div>
    
  <button type="button" class="btn btn-secondary"><a href="#dataexport" target="showframe" data-toggle="tab">数据输出</a></button>
  <button type="button" class="btn btn-secondary"><a href="#help" target="showframe" data-toggle="tab">帮助</a></button>
  
</div>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 </body>
</html>