<!DOCTYPE html>
<html>

  <head>
   <meta charset="utf-8" />
    <title >中国页岩油藏数据库-0.1</title>
	 <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
   <link href="{{static_url('shalegasdemo/shale.css')}}" rel="stylesheet">

	
	<!-- 样式表 -->
<style type="text/css">
	#footer{
		color:red;
		position:relative;
		left:500px;
		top:350px;
		
	}
	.p1{font-weight:bold;
	    position:relative;
		left:200px;}
	.p2{position:relative;
		       left:240px;
		       line-height:12px;}
	.btn-group{position:relative;
		       left:100px;}
	             
	
	.noborder{border:0;text-align:center;}
	#depo{width:25px;}
	</style>
</head>
<body>    

<div align="center" style="padding-top:10px;line-height: 8px;"><p><b>42-201-00000-0000</b></p>
   <p><b>Demo Shale Well #1</b></p>
   <p><b>Harris Co., Texas, USA</b></p></div>
	
<div class="btn-group" >
  <button type="button" class="btn btn-secondary active">Well Summary</button>
  <button type="button" class="btn btn-secondary">Data Inventory</button>
  <button type="button" class="btn btn-secondary">Depositional Setting</button>
  <button type="button" class="btn btn-secondary">Basic Petrography</button>
  <button type="button" class="btn btn-secondary">Reservoir Quality</button>
  <button type="button" class="btn btn-secondary">Petrophysical Evaluation</button>
  <button type="button" class="btn btn-secondary">Well Summary</button>Production/Completion
</div>
<br></br>
<p align="center"><b>Summary Data-Well Summary</b></p>
<p class="p1">Data Source/Vintage:</p>
<p class="p2">Data Source: Core Laboratories, Joint Industry Project (RAPID Demo - Shale)</p>
<p class="p1">Dates:</p>
<p class="p2"><b>Spud:</b>01-Sep-2011</p>
<p class="p1">Location:</p>
<p class="p2"><b>Latitude:</b>29.860837&nbsp&nbsp<b>Longitude:</b>-95.536895
<br></br><b>Ground Elevation:</b>82feet</p>
<p class="p1">Sample Types/Intervals:</p>
<table border="1" class="p2">
<tr>
  <th rowspan="2">Sample Type</th>
  <th>Sample Count</th>
  <th colspan="2">Sample Interval(feet)</th>
</tr>
<tr>
<td></td><td><b>Depth Range</b></td><td><b>Interval Span</b></td>
</tr>
<tr><td>Core Plug(Not Specified)</td>
    <td>8</td>
    <td>7,721.00-7,791.50</td>
    <td>70.50</td>
</tr> 
<tr><td>Cuttings</td>
    <td>10</td>
    <td>7,665.00-7,835.00</td>
    <td>170.00</td>
</tr> 
<tr><td>Whole Core</td>
    <td>14</td>
    <td>7,729.00-7,793.00</td>
    <td>64.00</td>
</tr> 
</table>
<p class="p1">Cored Intervals:</p>
<p class="p2"><b>Conventional Core Summary</b></p>
<p class="p2"><b>Interval Top Depth:7,721.00</b></p>
<p class="p2"><b>Interval Bottom Depth:7,798.70</b></p>
<p class="p2"><b>Total Interval Length:77.70</b></p>
<p class="p2"><b>Total Core Length/Cut:77.70</b></p>
<p class="p2"><b>Total Core Recovered:</b></p>
<table border="1"  class="p2">
  <tr><th rowspan="2">Core</th>
  <td></td>
  <th colspan="2">Core(feet)</th>
  <th rowspan="2">Core Depth=Log Depth(feet³)</th>
  </tr>
  <tr>
    <td><b>Depth</b></td>
    <td><b>Length/Cut</b></td>
    <td><b>Recovered</b></td>
  </tr>
  <tr>
    <td colspan="5">Conventional Core Intervals</td>
  </tr>
  <tr>
    <td>1</td>
    <td>7,721.00 - 7,798.70</td>
    <td>77.70</td>
    <td>-</td>
    <td>7,721.00 - 7,798.70 = 7,727.00 - 7,804.70 (+6.00)</td>	
  </tr>
</table>
<p class="p1">Basin:</p>
<p class="p2">Gulf Coast:</p>
<p class="p1">Age:</p>
<p class="p2"><b>Late Cretaceous:65.50 to 99.60Ma</b></p>
<p class="p1">Stratigraphy:</p>
<table border="1" class="p2">
  <tr>
    <th colspan="3">Group</th>
    <th colspan="3">Formation or Equivalent</th>
    <th colspan="3">Member or Equivalent</th>
  </tr>
  <tr>
    <td colspan="2"><b>Depth(feet)</b></td>
    <td rowspan="2"><b>Name</b></td>
    <td colspan="2"><b>Depth(feet)</b></td>
    <td rowspan="2"><b>Name</b></td>
    <td colspan="2"><b>Depth(feet)</b></td>
    <td rowspan="2"><b>Name</b></td>
   </tr>
   <tr>
     <td><b>Top</b></td>
     <td><b>Bottom</b></td>
     <td><b>Top</b></td>
     <td><b>Bottom</b></td>
     <td><b>Top</b></td>
     <td><b>Bottom</b></td>
   </tr>
   <tr>
     <td >Above 7,649.00</td>
     <td >7,650.00</td>
     <td >Austin</td>
     <td >7,649.00</td>
     <td >7,650.00</td>
     <td >Eagle Ford</td>
     <td >-</td>
     <td >-</td>
     <td >-</td>
   </tr>
   <tr>
     <td >7,837.00</td>
     <td >Below7,837.00</td>
     <td >Washita</td>
     <td >7,837.00</td>
     <td >7,837.00</td>
     <td >Buda</td>
     <td >-</td>
     <td >-</td>
     <td >-</td>
   </tr>

   <tr>
     <td rowspan="2">7,650.00</td>
     <td rowspan="2">7,837.00</td>
     <td rowspan="2">Eagle Ford</td>
     <td rowspan="2">7,650.00</td>
     <td rowspan="2">7,837.00</td>
     <td rowspan="2">Eagle Ford Shale</td>
     <td rowspan="2">-</td>
     <td rowspan="2">-</td>
     <td rowspan="2">-</td>
   </tr>


</table>

	  <!-- 脚标 -->
  <footer id="footer">
  <p>©Copyright by PKU,All Rights Reserved.</p>
  <p>Contact information: <a href="mailto:liuying2013@pku.edu.cn">bulala@liuying2013@pku.edu.cn</a>.</p>
</footer>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>